<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wizard Database</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bigelow+Rules&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/globals.css">
</head>
<body>

    <nav>
    <ul>
         <li>
            <a href="/" class="nav-link">Home</a>
        </li>
        <li>
            <a href="/wizards" class="nav-link">Wizards</a>
        </li>
        <li>
            <a href="/houses" class="nav-link">Houses</a>
        </li>
        <li>
            <a href="/spells" class="nav-link">Spells</a>
        </li>
        <li>
            <a href="/instances" class="nav-link">Spell Instances</a>
        </li>
        <li>
            <a href="/types" class="nav-link">Types</a>
        </li>
       
    </ul>
</nav>

    {{{body}}}

</body>
</html>