<!-- types.hbs -->

{{!-- Create a table --}}
<table id="types-table">

    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Type ID</th>
            <th>Type Name</th>
            <th>Type Description</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>
        {{!-- print each row in the Types table --}}
        {{#each data}}
        <tr>
            <td>{{this.type_id}}</td>
            <td>{{this.type_name}}</td>
            <td>{{this.type_description}}</td>
            <td>
                <button onclick="deleteType({{this.type_id}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="/js/delete_type.js"></script>

{{! Form to add a new type to the table  }}
<h2>Add a new spell type here</h2>
<p>To add a new type, please enter their information below and click 'Submit'!</p>
<form id="add-type-form-ajax">
  <label for="input-type-name">Type Name: </label>
  <input type="text" name="input-type-name" id="input-type-name" placeholder="Computer science"/>

  <label for="input-type-desc">Type Description: </label>
  <input type="text" name="input-type-desc" id="input-type-desc" placeholder="A type of magic used with computers"/>

  <input type="submit" />
</form>

{{! Embed our javascript to handle the DOM manipulation and AJAX request }}
<script src="/js/add_type.js"></script>