/* Harry Potter Font */
@font-face {
  font-family: HarryP;
  src: url("../fonts/harry_p/HARRYP__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Color Variables */
:root {
  --gryffindor-red: #740001;
  --gryffindor-yellow: #eeba30;
  --slytherin-green: #2a623d;
  --slytherin-silver: #aaaaaa;
  --ravenclaw-blue: #222f5b;
  --ravenclaw-gold: #946b2d;
  --hufflepuff-canary: #f0c75e;
  --hufflepuff-brown: #372e29;
  --muted-navy: #27363f;
  --pure-gold: #bf9b30;
  --charcoal: #1e1e1e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw 5vw 10vw;
  padding-bottom: 10vw;
  font-size: 1.25rem;
  font-family: "Exo 2", sans-serif;
  background-color: #27363f;
  background-image: url("../images/bg-image.avif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;

  min-height: 100vh;
}

h1 {
  font-family: HarryP, serif;
  color: white;
  text-align: center;
  color: var(--hufflepuff-canary);
  letter-spacing: 0.2rem;
  font-size: 4rem;
  line-height: 2.75rem;
  margin: 2vw 0;
  text-align: center;
}

h2,
h3,
h4,
h5 {
  text-align: center;
  font-family: "Bigelow Rules", serif;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  font-weight: 400;
  font-style: normal;
  color: var(--gryffindor-yellow);
}

.no-scroll {
  position: relative;
  overflow: hidden;
}

.tagline {
  background-color: var(--muted-navy);
  margin-top: 5%;
  text-align: left;
  justify-self: flex-start;
  align-self: flex-start;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

/* NAV BAR STYLES */
nav {
  width: 100%;
  max-width: 100vw;
  margin: 10vw 0;
}
nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2vw;
  font-size: 1.5rem;
}

nav > ul > li {
  list-style-type: none;
  font-weight: bold;
}

.nav-link:hover {
  cursor: pointer;
  color: var(--gryffindor-yellow);
}

.return-button-container button {
  padding: 2%;
  background-color: var(--hufflepuff-canary);
  border: var(--ravenclaw-gold) 0.4rem solid;
  color: var(--muted-navy);

  width: 15rem;
  height: 3rem;
  margin-bottom: 2rem;

  font-size: 2rem;
  font-family: HarryP;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.return-button-container button:hover {
  color: aliceblue;
}

/* FORM STYLING */
input,
select,
textarea {
  font-family: inherit;
  width: 100%;
  border: var(--gryffindor-yellow) 0.2rem solid;
  padding: 2%;
}

input:focus {
  outline: none;
  border: #55aaff 0.2rem solid;
}

label {
  font-weight: bold;
}

.form-input-group {
  width: 100%;
}

/* ADD FORM CONTAINER STYLING */
.modal-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5% 5% 0 0;
  height: 2.5vw;
  width: 2.5vw;
}

.close-modal img {
  width: 100%;
  height: 100%;
}

.close-modal:hover {
  cursor: pointer;
}

.add-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: var(--muted-navy);
  padding: 5vw;
  margin: 5vw 0;
  border: var(--gryffindor-yellow) 0.1rem solid;
}

.add-form,
.update-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.add-button-container button {
  padding: 2%;
  background-color: var(--hufflepuff-canary);
  border: var(--ravenclaw-gold) 0.4rem solid;
  color: var(--muted-navy);

  width: 10rem;
  height: 3rem;

  font-size: 2rem;
  font-family: HarryP;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-button {
  padding: 2%;
  background-color: var(--hufflepuff-canary);
  border: var(--ravenclaw-gold) 0.4rem solid;
  color: var(--muted-navy);

  width: 10rem;
  height: 3rem;

  font-size: 2rem;
  font-family: HarryP;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.add-button-container button:hover {
  color: aliceblue;
}
.submit-button:hover {
  color: aliceblue;
}

/* TABLE STYLING */

table,
thead,
tr {
  width: 100%;
}

table {
  display: table;
  background-color: var(--muted-navy);
  border: var(--gryffindor-yellow) 0.1rem solid;
  border-collapse: collapse;
}

thead {
  width: 100%;
  background-color: var(--charcoal);
  color: aliceblue;
  text-align: left;
  padding: 1rem 0;
  font-size: 1.25rem;
}

table tr:nth-child(even) {
  background-color: var(--slytherin-silver);
  color: var(--muted-navy);
}

td,
th {
  padding: 0.5rem 0;
  text-align: center;
  vertical-align: center;
}

.icon-container {
  width: 100%;
}

.icon-container img {
  height: 100%;
  width: auto;
  max-height: 2vw;
}

.icon-container img:hover {
  cursor: pointer;
}

/* OVERVIEW PAGE */
.overview-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  padding: 5vw;
  background-color: var(--muted-navy);
  border: var(--gryffindor-yellow) 0.1rem solid;
  line-height: 2rem;
}

/* SPELLS PAGE */
.spell-desc,
.type-desc {
  max-width: 20vw;
  text-align: left;
  padding: 2vw;
}

.spell-type {
  list-style-type: none;
}

/* UPDATE SPELL PAGE */

.update-spell-container {
  display: flex;
  flex-direction: column;
  gap: 5vw;
  background-color: var(--muted-navy);
  border: var(--gryffindor-yellow) 0.1rem solid;
  width: 100%;
  height: fit-content;
  padding: 5vw;
  margin: 5vw 0;
}

.update-spell-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2vw;
}

.form-input-group > textarea {
  display: block;
  width: 100%;
  font-family: inherit;
}

.update-button {
  background-color: var(--hufflepuff-canary);
  border: var(--ravenclaw-gold) 0.4rem solid;
  color: var(--muted-navy);

  width: 10rem;
  height: 4rem;

  font-size: 2rem;
  font-family: HarryP;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.update-button:hover {
  color: aliceblue;
}

.update-button.remove-type {
  background-color: var(--gryffindor-red);
  color: aliceblue;
}

.update-button.remove-type:hover {
  color: var(--gryffindor-yellow);
}

.update-type-btn-container {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

#add-type-btn {
  background-color: var(--ravenclaw-blue);
  color: aliceblue;
}

#add-type-btn:hover {
  color: var(--gryffindor-yellow);
}

/* INSTANCES PAGE */
.update-container {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  background-color: var(--muted-navy);
  border: var(--gryffindor-yellow) 0.1rem solid;
  width: 100%;
  height: fit-content;
  padding: 5vw;
  margin: 5vw 0;
}

.instance-notes {
  padding: 2vw;
  text-align: left;
  max-width: 30vw;
}

/* ------ Media Queries ------ */
/* (based on Bootstrap Breakpoints) */

/* xsmall */
@media only screen and (max-width: 575px) {
}

/* small */
@media only screen and (min-width: 576px) {
}

/* medium */
@media only screen and (min-width: 768px) {
  .add-container,
  .update-container {
    max-width: 50vw;
  }
}

/* large */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 5rem;
    letter-spacing: 0.3rem;
    line-height: 3.5rem;
  }

  h2,
  h3,
  h4,
  h5 {
    font-size: 3rem;
  }

  nav {
    margin-top: 5vw;
    margin-bottom: 2.5vw;
  }

  .update-spell-container {
    flex-direction: row;
    margin: 2.5vw 5vw;
  }
  .update-spell-form-container {
    justify-content: flex-start;
    border: var(--ravenclaw-gold) 0.4rem solid;
    padding: 2vw;
  }
}

/* xlarge */
@media only screen and (min-width: 1200px) {
  .overview-container {
    gap: 1.5vw;
  }

  .overview-container > p {
    max-width: 80%;
  }

  .add-container,
  .update-container {
    max-width: 35vw;
  }
}

/* xxlarge */
@media only screen and (min-width: 1400px) {
  body {
    margin: 0 15vw;
  }
  h1 {
    letter-spacing: 0.5rem;
  }
  nav > ul {
    font-size: 2rem;
  }
}
